 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Alice Barkley</h4>
            <p><em>To launch into the next phase of 'learning by doing' on the job in a technology driven environment, where I can contribute my ingenuity and skills to meet organizational goals and objectives.</em></p>
          
            <ul>
              <li>Prince Ademola Oniru Road VI, Lagos. Nigeria</li>
              <li>+2347061617297</li>
              <li>oyefunmi99@email.com</li>
            </ul>
          
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Science Education &amp; Mathematics</h4>
            <h5>2015 - 2019</h5>
            <p><em>Ibrahim Badamasi Babangida University Lapai, Niger State</em></p>
          </div>
          <div class="resume-item">
            <h4>Senior Secondary School</h4>
            <h5>2012 - 2015</h5>
            <p><em>Bishop James Yisa Memorial School, Niger State</em></p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Engineer Intern</h4>
            <h5>June 2021 - Present</h5>
            <p><em>Yaba, Lagos, Nigeria. </em></p>
            <ul>
              <li>Build design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Build websites under the supervision of a Senoir Software Engineer</li>
              <li>Work on weekly tasks given my supervisior</li>
              <li>Learn how to use some of the major software development tools like asp.net.core MVC, .net framework, Angular, Microsoft SQL Server Mangement etc</li>
            </ul>
            
          </div>
          <div class="resume-item">
            <h4>Assistant Operations Intern</h4>
            <h5>March 2021 - May 2021</h5>
            <p><em>Internet Solutions Nigeria Limited, Lagos, Nigeria</em></p>
            <ul>
              <li>Cleaned customers’ data and product plan for the purpose of analysis</li>
              <li>Interacted with several vendors to confirm needed products and services.</li>
              <li>Researched on services and prepared</li>
            </ul>
           
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
